@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: #000;
  --background: #fafafa;
  --secondary-background: #f2f2f2;
  --gray: #847f90;
  --gray-hover: #171717;
  --prmimary-hover: #555;
  --link-gray: #666;
  --link-gray-hover: #171717;
  --gray-border: #e6e6e6;
  --white: #fcfcfc;
  --navbar-height: 64px;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/******header******/
.menu__wrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  z-index: 2;
  gap: 24px;
  background-color: var(--background);
  height: var(--navbar-height);
  padding: 0 16px;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

/*Contenedor interno del header*/
.menu__bar {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: var(--navbar-height);
}

.navigation {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 16px;
  background-color: var(--background);
}

.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  min-height: 36px;
}

.navigation > li > a {
  color: var(--link-gray);
  font-size: 14px;
  text-decoration: none;
}

.navigation > li > a:hover {
  color: var(--link-gray-hover);
}

.navigation > li > button {
  color: var(--link-gray);
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: -4px;
  align-items: center;
  min-height: 36px;
  font-size: 14px;
  gap: 4px;
  font-family: "Open sans" sans-serif;
  flex-wrap: nowrap;
  border-radius: 999px;
  padding: 4px 10px;
  white-space: nowrap;
  background: none;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.navigation > li > button > svg {
  margin-top: 2px;
  fill: var(--link-gray);
  transition: all 0.5s ease-in-out;
}

.navigation > li:hover > button svg {
  fill: var(--link-gray-hover);
  rotate: 180deg;
}

.navigation > li:hover > button {
  color: var(--link-gray-hover);
  background-color: var(--gray);
}

.navigation > li:hover .dropdown {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99);
    translatey: (0.7em);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scale(1);
    translatey: (0);
  }
}

/*dropdown menu*/

.dropdown__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3.75rem;
}

.dropdown {
  border-radius: 0.5rem;
  background-color: var(--white);
  display: none;
  padding: 0.5rem;
  width: 100%;
  max-width: 40rem;
  border: thin solid var(--gray-border);
  box-shadow: 0 50 100px -20px rgba(0, 0, 0, 0.12),
    0 30 60px -30px rgba(0, 0, 0, 0.15);
  z-index: 2;
  animation: fadeIn 0.2s ease-in-out;
}

/*organizacion de elementos dentro del menu*/
.list-items-with-description {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.list-items-with-description li {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 0.375rem;
}

.list-items-with-description li:hover {
  background-color: var(--secondary-background);
  /* border-radius: 6px; */
}

.list-items-with-description > li svg {
  stroke: var(--link-gray-hover);
  stroke-width: 1px;
  width: 2.5rem;
  height: 2.5rem;
}

.item-title h3 {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--link-gray-hover);
}

.item-title p {
  font-size: 0.7rem;
  white-space: nowrap;
  color: var(--link-gray-hover);
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: nowrap;
}

.action-buttons a {
  text-decoration: none;
  font-size: 0.875rem;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease-in-out;
  line-height: 1.25rem;
}

.secondary {
  background: none;
  color: var(--link-gray-hover);
  outline: none;
  border: thin solid var(--gray-border);
  border-radius: 0.375rem;
}

.secondary:hover {
  background: var(--secondary-background);
}

.primary {
  color: var(--white);
  border-radius: 0.375rem;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
}

.primary:hover {
  background-color: var(--prmimary-hover);
}

.burger-menu {
  display: none;
  outline: none;
  border: none;
  background-color: transparent;
}

/*Media querie*/
@media (max-width: 769px) {
  .hide {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    pointer-events: all;
    gap: 0.25rem;
    flex-direction: column;
    border: thin solid var(--gray-border);
  }

  .burger-menu svg {
    height: 2rem;
    stroke: var(--link-gray);
    width: 2rem;
  }
}
